<!-- <div class="cont">
  <div class="cuadro">
      <div>
        <h1>Lista de Juegos</h1>
      </div>
      <div class="subtitulos">
        <h4>juego</h4>
        <h4>cantidad de jugadores</h4>
      </div>
      <div class="card">
        <div class=" card  ">
          <p class="">Tablero</p>
          <button (click)="tablero()"> entrar</button>
        </div>
        <div class=" card  ">
          <p>Tablero</p>
        </div>
        <div class=" card  ">
          <p>Tablero</p>
        </div>
        <div class=" card  ">
          <p>Tablero</p>
        </div>
        <div class=" card  ">
          <p>Tablero</p>
        </div>
    </div>
  </div>

</div> -->
<div class="cont">
  <div class="background"></div>
  <div class="container_views">
      <span class="title">Jugadores disponibles</span>

      <form [formGroup]="formPlayers">

          <select multiple formControlName="jugadores">

              <option *ngFor="let jugador of jugadores" [value]="jugador">
                  <span class="name">{{jugador.nombre}}</span>
              </option>

          </select>

          <span class="info">Manten presionado [Ctrl] para seleccionar varios jugadores</span>
          <button type="submit" [disabled]="formPlayers.invalid" (click)="goToCreateGame()">Iniciar juego</button>
      </form>
  </div>
</div>
