<div class="cont">
  <div class="cuadro">
      <h1 >Juegos disponibles</h1>
      <ul name="games_availables" id="games_availables">
          <li class="option_game" *ngFor="let game of dataGames; let i = index" (click)="goToGame(game.id)">
              <p class="option_game-title">Juego # {{i+1}}</p>
              <p>Cantidad de jugadores {{game.cantidadJugadores}}</p>
              <p class="created_by">Creado por {{getNameCreator(game)}}</p>
          </li>
      </ul>
      <h4 class="info">Click en Tu Juego</h4>
  </div>
</div>
