

<div class="cont">


  <div class="boxInfo">

  <div class="topBox">
   Ronda
  </div>

  <div class="topBox">
  <h6 >Tiempo para iniciar ronda {{board?.tiempo}}</h6>
  <h6>players {{board?.ronda?.jugadores?.length}} </h6>
  <h6>Tiempo 50seg</h6>
  </div>


  <div class="px2" >

  </div>

  <div class="px2">

  </div>
  <button class="btn">Iniciar</button>
</div>


  <div class="mazo">
    <div class="topBox">
     Cartas
     </div>

     <div class="card" *ngFor="let cartas of cartasUser">
      <h2 class="card-title">{{cartas.nombre}}</h2>
      <img src="{{cartas.uri}}" alt="">
      <p class="card-desc">POWER:{{cartas.poder}}</p>
    </div>

    </div>



  </div>
