

<div class="cont">


  <div class="boxInfo">

    <div class="topBox">
    Ronda {{roundNumber}}
    </div>

    <div class="topBox">
    <h6 >Tiempo {{time}} seg</h6>
    <h6>players {{gamePlayers}}/5 </h6>
    <h6>score {{score}}</h6>
    </div>

    <div cantPlayers>
      <button class="px2" (click)="quitarCarta()" >
      </button>
    </div>

    <button class="btn" (click)="iniciar()">Iniciar</button>
  </div>


  <div class="mazo">
    <div class="topBox">
     Cartas
     </div>

     <button class="card"   *ngFor="let cartas of cartasUser" (click)="ponerCarta(cartas.cartaId)">
      <h2 class="card-title">{{cartas.nombre}}</h2>
      <img src="{{cartas.uri}}" alt="">
      <p class="card-desc">POWER:{{cartas.poder}}</p>
    </button>

    </div>
  </div>
