.cont{
  background-image: url("https://wallpaperaccess.com/full/5742156.jpg");

}

.cuadro{
  font-family:  Verdana, sans-serif;
  //font-family:'Franklin Gothic Medium';
  font-style: italic;
  color: rgb(254, 254, 254);
  margin: auto;
  width: 15em;
  height: 10em;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  text-align: center;
  position: relative;
  box-shadow: 3px 3px 15px rgb(0, 0, 0) ;
  padding: 15px;
}

.btn{
  margin-top: 15px;
  font-size:0.5cm;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4, 4, 4, 0.635) 100%);
}

.btn:hover{
  font-weight: bold;
  color: rgb(242, 255, 3);
}

.btn::after{
  content: "";
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.30s;
  transition: all 0.35s;
  background: rgb(62, 58, 180);

}

.btn:hover::after{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.50s;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,118,255,0.6348739324831495) 100%);
}
