/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.cont{
  background-image: url("https://cdn.discordapp.com/attachments/1015394220267282476/1016153612096905336/WallpaperDog-5465130.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}


