<div class="cont">
  <div class="cuadro card ">
    <div class="sombras card-content">
      <h1>
        Inicio
      </h1>
    </div>
    <div >
      <h3>Indicaciones de Juego</h3>
      <h5>para iniciar el juego debes estar registrado, incluso los jugadores</h5>
      <button class="btn btn-blue-tr" (click)="crearJuego()">Crear Juego</button>
    </div>
    <div class="sombras card-content">
      <h2>Invita a  tus amigos</h2>
    </div>
  </div>
  <div>
    <button class="btn" (click)="Juegos()">Consultar Juegos Creados</button>
    <button class="btn btnL btn-two" (click)="onClick()">log out</button>
  </div>
</div>
